aphla.egg-info/
build/
dist/

*.pyc

*/.ipynb_checkpoints/*

aphla/version.py
aphla/facility.yaml

machine_data/nsls2/LTE/kickmaps/conversions/*.sdds
machine_data/nsls2/LTE/kickmaps/conversions/*.txt

v2tests/nsls2unitconv_quads_sexts.yaml
v2tests/test_load_*.log
v2tests/test_unitconv_sp_values*.pkl
