function v2srinit(varargin)

if nargin < 1
   OperationalMode = 1;
end

setao([]);

%% BPM

%(ao_bpm)s

%% HCM and VCM

%(ao_hvcm)s

%% Quad

%(ao_q)s


%% Save the AO so that family2dev will work
%% setao(AO);

%% The operational mode sets the path, filenames, and other important parameters
%% Run setoperationalmode after most of the AO is built so that the Units and Mode fields
%% can be set in setoperationalmode

setao(AO);
setoperationalmode(OperationalMode);

